body{
  background-image: url(13581\ medium.jpg); height: 200px;
}
.footercontainer{
  background: black;
  height: 200px;
}

.socialicons{
  display:flex;
  justify-content:center;
}
.socialicons a{
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
}
.socialicons a:hover{
  background-color: black;
  transition: 0.5s;
}
.socialicons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerbottom {
  color:aliceblue;
  display: flex;
  justify-content: center;
}
li{
  margin-right: 30px;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.5;
}
.footerNav ul li a:hover{
  opacity: 1;

}
h1{
  color: white;
}
h4{
color: white;
}
h2{
  color: white;
}
h5{
  color:white;
  transition: 0.5s;

}
h5:hover{
  color:aqua;
}